.links {
  margin-top:0;
}
.navBar {
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .navBar button {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
  }
  
  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: darkcyan;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
  }
  .mainContainer{
    background: darkcyan;

  }

  .menuNav.showMenu {
    width: 100%;
  }
  .menuContainer{

  }
  
  .hamburgerMenu{

  }
  
  a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    color: #3fffd2;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .menuNav li:first-child {
    margin-top: 7rem;
  }